In [1]:
import mysql.connector as connection
con = connection.connect(host="localhost", user="root", passwd="mkt2mysql", use_pure = True, database='mkt')
cur = con.cursor()

In [2]:
con.is_connected()

True

In [3]:
class create_table:
    def create(self,t_name,col1,col2,col3,col4):
        cur.execute(f"create table {t_name}({col1}, {col2}, {col3}, {col4})")
        con.commit()
t1 = create_table()
t1.create("Worker", "emp_id int", "FIRST_NAME varchar(25)", "LAST_NAME varchar(25)", "DEPARTMENT varchar(40)")

In [4]:
class insert_values:
    def insert(self,e_id,f,l,d):
        cur.execute(f"insert into Worker values{(e_id,f,l,d)}")
        con.commit()
i = insert_values()
i.insert(1,'BURT','DUKAKIS','Information Technology')
i.insert(2,'VAL','BOLGER','Computer Science')
i.insert(3,'TOM','MCKELLEN','Automobile')
i.insert(4,'GOLDIE','BRODY','Computer Science')
i.insert(5,'JOHNNY','CAGE','Petrochemical')
i.insert(6,'JOHN','Depp','Petrochemical')
i.insert(7,'JODIE','DEGENERES','Automobile')
i.insert(8,'TOM','MIRANDA','Information Technology')
i.insert(9,'KIRK','JOVOVICH','Computer Science')
i.insert(10,'NICK','STALLONE','Automobile')

In [5]:
cur.execute('select * from Worker')
cur.fetchall()

[(1, 'BURT', 'DUKAKIS', 'Information Technology'),
 (2, 'VAL', 'BOLGER', 'Computer Science'),
 (3, 'TOM', 'MCKELLEN', 'Automobile'),
 (4, 'GOLDIE', 'BRODY', 'Computer Science'),
 (5, 'JOHNNY', 'CAGE', 'Petrochemical'),
 (6, 'JOHN', 'Depp', 'Petrochemical'),
 (7, 'JODIE', 'DEGENERES', 'Automobile'),
 (8, 'TOM', 'MIRANDA', 'Information Technology'),
 (9, 'KIRK', 'JOVOVICH', 'Computer Science'),
 (10, 'NICK', 'STALLONE', 'Automobile')]

In [ ]:
#Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>

In [6]:
class fetch_data:
    def fetch(self,col_name, alias_name):
        try:
            cur.execute(f"select {col_name} as {alias_name} from Worker")
            for i in cur.description:
                print(i[0])
            for j in cur.fetchall():
                print(j[0])
        except Exception as e:
            raise e
f = fetch_data()
f.fetch('FIRST_NAME','WORKER_NAME')

WORKER_NAME
BURT
VAL
TOM
GOLDIE
JOHNNY
JOHN
JODIE
TOM
KIRK
NICK

In [ ]:
#Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [7]:
class unique_data:
    def unique(self,col_name):
        try:
            cur.execute(f"select distinct {col_name} from Worker")
            for i in cur.fetchall():
                print(i[0])
        except Exception as e:
            raise e
u = unique_data()
u.unique('DEPARTMENT')

Information Technology
Computer Science
Automobile
Petrochemical

In [ ]:
#Q-3. Write an SQL query to show the last 5 record from a table.

In [8]:
class last5_data:
    def fetch_last5(self,table,col_name):
        try:
            cur.execute(f"(select * from {table} order by {col_name} desc limit 5)order by emp_id asc  ")
            for i in cur.fetchall():
                print(i)
        except Exception as e:
            raise e
l = last5_data()
l.fetch_last5('Worker','emp_id')

(6, 'JOHN', 'Depp', 'Petrochemical')
(7, 'JODIE', 'DEGENERES', 'Automobile')
(8, 'TOM', 'MIRANDA', 'Information Technology')
(9, 'KIRK', 'JOVOVICH', 'Computer Science')
(10, 'NICK', 'STALLONE', 'Automobile')